/*
 * Device Tree Source for the Alt board
 *
 * Copyright (C) 2014 Renesas Electronics Corporation
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

/*
 * SSI-AK4643
 *
 * SW1: 1: AK4643
 *      2: CN22
 *      3: ADV7511
 *
 * this command is required when playback.
 *
 * # amixer set "LINEOUT Mixer DACL" on
 * # amixer set "Playback" 100
 */

/dts-v1/;
#include "r8a7794.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Alt";
	compatible = "renesas,alt", "renesas,r8a7794";

	chosen {
		bootargs = "console=ttySC10,38400 ignore_loglevel rw root=/dev/nfs ip=dhcp";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x40000000>;
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};

	gpio-keys {
		compatible = "gpio-keys";

		key-1 {
			gpios = <&gpio3 9 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_1>;
			label = "SW2-1";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
		key-2 {
			gpios = <&gpio3 10 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_2>;
			label = "SW2-2";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
		key-3 {
			gpios = <&gpio3 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_3>;
			label = "SW2-3";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
		key-4 {
			gpios = <&gpio3 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_4>;
			label = "SW2-4";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
		key-a {
			gpios = <&gpio5 10 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_A>;
			label = "SW30";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
		key-b {
			gpios = <&gpio5 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_B>;
			label = "SW31";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
		key-c {
			gpios = <&gpio5 12 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_C>;
			label = "SW32";
			gpio-key,wakeup;
			debounce-interval = <20>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led6 {
			gpios = <&gpio5 14 GPIO_ACTIVE_HIGH>;
		};
		led7 {
			gpios = <&gpio5 15 GPIO_ACTIVE_HIGH>;
		};
		led8 {
			gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
		};
	};

	vcc_sdhi0: regulator@0 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI0 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio2 26 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhi0: regulator@1 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&gpio2 29 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 1
			  1800000 0>;
	};

	vcc_sdhi1: regulator@2 {
		compatible = "regulator-fixed";

		regulator-name = "SDHI1 Vcc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;

		gpio = <&gpio4 26 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	vccq_sdhi1: regulator@3 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI1 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&gpio4 29 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 1
			  1800000 0>;
	};

	fixedregulator3v3: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&extal_clk {
	clock-frequency = <20000000>;
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	snd_codec: ak4643 {
		#sound-dai-cells = <0>;
		compatible = "asahi-kasei,ak4643";
		reg = <0x12>;
	};
};

&i2c8 {
	status = "okay";
	clock-frequency = <100000>;
};

&pfc {
	pinctrl-0 = <&du_pins &scif2_pins &usb0_pins &usb1_pins &sound_pins &sound_clk_pins
		     &vin0_pins>;
	pinctrl-names = "default";

	du_pins: du {
		renesas,groups = "du0_rgb888", "du0_sync", "du0_clk_out",
				 "du1_rgb666", "du1_sync", "du1_clk_out";
		renesas,function = "du";
	};

	i2c1_pins: i2c1 {
		renesas,groups = "i2c1";
		renesas,function = "i2c1";
	};

	scif2_pins: serial2 {
		renesas,groups = "scif2_data";
		renesas,function = "scif2";
	};

	ether_pins: ether {
		renesas,groups = "eth_link", "eth_mdio", "eth_rmii";
		renesas,function = "eth";
	};

	qspi_pins: spi0 {
		renesas,groups = "qspi_ctrl", "qspi_data4";
		renesas,function = "qspi";
	};

	sdhi0_pins: sd0 {
		renesas,groups = "sdhi0_data4", "sdhi0_ctrl";
		renesas,function = "sdhi0";
	};

	sdhi1_pins: sd1 {
		renesas,groups = "sdhi1_data4", "sdhi1_ctrl";
		renesas,function = "sdhi1";
	};

	mmc0_pins: mmc0 {
		renesas,groups = "mmc_data8", "mmc_ctrl";
		renesas,function = "mmc";
	};

	usb0_pins: usb0 {
		renesas,groups = "usb0";
		renesas,function = "usb0";
	};

	usb1_pins: usb1 {
		renesas,groups = "usb1";
		renesas,function = "usb1";
	};

	vin0_pins: vin0 {
		renesas,groups = "vin0_data8", "vin0_sync", "vin0_field",
				 "vin0_clkenb", "vin0_clk";
		renesas,function = "vin0";
	};

	sound_pins: sound {
		renesas,groups = "ssi0129_ctrl", "ssi0_data", "ssi1_data";
		renesas,function = "ssi";
	};
	sound_clk_pins: sound_clk {
		renesas,groups = "audio_clk_a";
		renesas,function = "audio_clk";
	};
};

&ether {
	phy-handle = <&phy1>;
	renesas,ether-link-active-low;
	status = "ok";

	phy1: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&irqc0>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		micrel,led-mode = <1>;
	};
};

&qspi {
	pinctrl-0 = <&qspi_pins>;
	pinctrl-names = "default";

	status = "okay";

	flash: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spansion,s25fl512s";
		reg = <0>;
		spi-max-frequency = <30000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		m25p,fast-read;

		partition@0 {
			label = "loader";
			reg = <0x00000000 0x00080000>;
			read-only;
		};
		partition@80000 {
			label = "bootenv";
			reg = <0x00080000 0x00080000>;
			read-only;
		};
		partition@100000 {
			label = "data";
			reg = <0x00100000 0x03f00000>;
		};
	};
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&vcc_sdhi0>;
	vqmmc-supply = <&vccq_sdhi0>;
	cd-gpios = <&gpio6 6 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio6 7 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&sdhi1 {
	pinctrl-0 = <&sdhi1_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&vcc_sdhi1>;
	vqmmc-supply = <&vccq_sdhi1>;
	cd-gpios = <&gpio6 14 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio6 15 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&mmcif0 {
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";

	vmmc-supply = <&fixedregulator3v3>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};
